html {
	height: 100%;
}

body {
	background-color: #E5E5E5;
	background-image: url("../../L.jpg");
}

div {
	z-index: 2;
	margin: 0%;
	max-width: 90vw;
	}
div.top {
	position: absolute;
	top: 5%;
	left: 5%;
	margin-right:5%;
	font-family: Georgia, serif;
	min-width: 22ch;
	color: #404040;
	background: rgba(200,200,200,0.75)
}
div.chain {
	position: relative;
	left: 10%;
	font-family: Georgia, serif;
	font-size: 80%;
	color: #404040
}
div.chain_query {
	margin-top: 0.5em;
	position: relative;
	font-family: Courier;
	font-size: 60%;
	color: #505050;
}
div.query_text {
	position: relative;
	margin-left: 2%;
	font-family: Courier;
	font-size: 80%;
	color: #505050;
	background: white
}
div.query.textarea {

}
div.query_result {
	left: -10%;
	position: relative;
	font-family: Courier;
	font-size: 35%;
	color: #505050
}
div.invisible {
	display: none;
}

img.static {
	z-index: 0;
	position: absolute;
	align: top left;
}

span.error_msg {
	font-size: 60%;
	color: #F04040;
}
span.query_status {
	font-size: 60%;
	color: #406080;
}

