body {
	background-size: 50vw auto;
	background-position: right bottom;
	background-repeat: no-repeat;
	top: +10%;
	left: +7%;
}

div.top {
	font-size: 6vw;
}
div.chain {
	left: 10%;
	margin-right: 10%;
}

img.static {
	left: 1%;
	width: 50vw;
	height: auto;
}


