body {
	background-size: auto 50vh;
	background-position: right bottom;
	background-repeat: no-repeat;
	top: +10%;
	left: +7%;
}

div.top {
	font-size: 5vw;
}
div.chain {
	left: 5%;
	margin-right: 5%;
}
div.query {
	margin-right: 2%;
}

img.static {
	width: auto;
	height: 50vh;
}

