html {
	height: 100%;
}

body {
	background-color: #E5E5E5;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../../L.jpg");
	top: +10%;
	left: +7%;
}

div {
	margin: 0%;
	max-width: 90vw;
}
div.top {
	position: absolute;
	top: 5%;
	left: 5%;
	margin-right:5%;
	font-family: Georgia, serif;
	min-width: 22ch;
	color: #404040;
	background: rgba(200,200,200,0.75)
}
div.chain {
	position: relative;
	left: 5%;
	margin-right: 5%;
	font-family: Georgia, serif;
	font-size: 80%;
	color: #404040
}
div.chain_query {
	margin-top: 0.5em;
	position: relative;
	font-family: Courier;
	font-size: 60%;
	color: #505050
}
div.query {
	position: relative;
	margin-left: 2%;
	font-family: Courier;
	font-size: 80%;
	color: #505050
}
div.query_result {
	left: 1%;
	margin: 1%;
	position: relative;
	font-family: Courier;
	font-size: 30%;
	color: #505050
}
div.invisible {
	display: none;
}

img.static {
	z-index: 0;
	position: absolute;
	align: top left;
}


