html {
	height: 100%;
}

body {
	background-color: #E5E5E5;
	background-image: url("../L.jpg");
}

div {
	z-index: 2;
	margin: 0%;
	max-width: 90vw;
}
div.top {
	position: absolute;
	top: 15%;
	left: 8%;
	margin-right:5%;
	font-family: Georgia, serif;
	min-width: 22ch;
	color: #404040;
	background: rgba(200,200,200,0.75)
}
div.chain {
	position: relative;
	top: 12%;
	left: 6%;
	margin-right: 5%;
	font-family: Georgia, serif;
	font-size: 90%;
	color: #404040
}
div.chain_repo {
	position: relative;
	top: 12%;
	left: 0;
	margin-right: 5%;
	font-family: Georgia, serif;
	font-size: 60%;
	color: #404040
}
div.invisible {
	display: none;
}

img.static {
	left: 1%;
	z-index: 0;
	position: absolute;
	align: top left;
}

@keyframes image_movement {
	0% {
		transform: translate3d(25vw, 0, 0);
		animation-timing-function: ease-down;
	}

	50% {
		transform: translate3d(25vw, 30vh, 0);
	}

	100% {
		transform: translate3d(25vw, 0, 0);
		animation-timing-function: ease-up;
	}
}
img.animated {
	z-index: -1;
	position: relative;
	horizontal-align: center;
	animation: image_movement 5s infinite;
	animation-direction: normal;
	width: auto;
	height: 20vh;
}

