html {
	height: 100%;
}

body {
	background-size: auto 50vh;
	background-position: right bottom;
	background-repeat: no-repeat;
	top: +10%;
	left: +7%;
}

div.top {
	font-size: 8vh;
}

img.static {
	width: auto;
	height: 50vh;
}
