html {
	height: 100%;
}

body {
	background-size: 50vw auto;
	background-position: right bottom;
	background-repeat: no-repeat;
	top: +10%;
	left: +7%;
}

div.top {
	font-size: 5vw;
}

img.static {
	width: 50vw;
	height: auto;
}
